.routeContainer{
    padding: 10px;
    border-left: 10px;
    border-left-style: solid;
    margin: 10px;
}
.blue{
    border-color: blue;
}
.green{
    border-color: green;
}
.red{
    border-color: red;
}
.yellow{
    border-color: yellow;
}
.black{
    border-color: black;
}
.chosen{
    border-width: 2px;
    border-left-width: 10px;
    border-style: solid;
    padding: 8px;
}

.chart-container{
    left: 0px;
}

.icon {
    height: 25px;
    vertical-align: middle;
    margin-top: 5px;
}