<div class="routeContainer {{isChosen()?'chosen': ''}} {{color}} ">

    <mat-expansion-panel (opened)="setPanelOpenState(true)" [expanded]="panelOpenState" (closed)="setPanelOpenState(false)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>{{route.summary.preference | titlecase | truncate:7:6:'.' }} Route</b>
                <!--titlecase will capitalize the word-->
            </mat-panel-title>
            <mat-panel-description>
                <div>Distance: 
                    <br/>{{(route.summary.distance)/1000 | number:'1.0-2'}}km </div>
                <div>Duration: 
                    <br/>
                    {{route.summary.duration/60 < 60 ? (route.summary.duration/60 | number:'1.0-0') : (route.summary.duration/3600 | number:'1.0-2')}}
                    {{route.summary.duration/60 < 60 ? 'min' : 'h'}} 
                </div>
                <!-- the number pipe makes it round to full meters/minutes. adjust the last zero if fractions needed.-->
                <div>Price: 
                    <br/>{{route.summary.price >= 0 ? (route.summary.price | number:'1.0-2') : 0 }}€</div>
                    <img class="icon" src="assets/warning.png" alt="unsafe" title="unsafe">
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ngx-charts-area-chart class="chart-container" [view]="[320, 150]" [results]="heightData.dataSet"
            [customColors]="customColors">
        </ngx-charts-area-chart>

    </mat-expansion-panel>

</div>