<div class="container">
<h1 style="color:rgb(118, 173, 22);">AWADO</h1>

  <form #routeForm ="ngForm">
      
      <div class="form-group">
        <div class="form-group">
          <label for="Transport">Transport</label><br/>   
          
          <mat-radio-group class="form-radio-group" [(ngModel)]="transSelected" name="transportType">
            <mat-radio-button class="form-radio-button" (change)="radioButtonChanged($event)" *ngFor="let transport of trans.transports" [value]="transport">
              {{transport}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        
        &nbsp;
        
        <button type="submit" class="btn btn-success" [disabled]="startError||disableFlagGetNearestButton" (click)="onSubmitStart()">Get nearest ebike stations</button>
        &nbsp;
        &nbsp;
      </div>

    <div *ngIf="asString" class="form-group">
      <label for="start">Start</label>
      <input type="text" class="form-control" id="start" required
      [(ngModel)]="model.start" name="start" (blur)="onStartBlur()">
      <mat-error *ngIf="startError">{{startError}}</mat-error>
    </div>

    <div *ngIf="asString" class="form-group">
      <mat-form-field>
        <mat-select placeholder="Location Results" [disabled]="!startLocationFeatures||startError" [(value)]="selectedStart" (selectionChange) = "onStartSelectionChange($event)" required>
          <mat-option *ngFor="let result of startLocationFeatures" [value]="result" >
            {{result.properties.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    </div>
    <div *ngIf="asString" class="form-group">
      <label for="destination">Destination</label>
      <input type="text" class="form-control" id="destination" required
      [(ngModel)]="model.destination" name="destination" (blur)="onDestBlur()">
      <mat-error *ngIf="destError">{{destError}}</mat-error>
    </div>
    <div *ngIf="asString" class="form-group">
      <mat-form-field required>
        <mat-select placeholder="Location Results" [disabled]="!destLocationFeatures||destError" [(value)]="selectedDest" (selectionChange) = "onDestSelectionChange($event)" required>
          <mat-option *ngFor="let result of destLocationFeatures" [value]="result" >
            {{result.properties.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="!asString" class="form-group">
      <label for="startLat">Start Latitude</label>
      <input type="number" class="form-control" id="startLat" required
      [(ngModel)]="modelCoord.start.lat" name="startLat" (blur)="moveMarker()">
    </div>
    <div *ngIf="!asString" class="form-group">
      <label for="startLong">Start Longitude</label>
      <input type="number" class="form-control" id="startLong" required
      [(ngModel)]="modelCoord.start.lng" name="startLong" (blur)="moveMarker()">
    </div>
    <div *ngIf="!asString" class="form-group">
      <label for="destLat">Destination Latitude</label>
      <input type="number" class="form-control" id="destLat" required
      [(ngModel)]="modelCoord.dest.lat" name="destinationLat" (blur)="moveMarker()">
    </div>
    <div *ngIf="!asString" class="form-group">
      <label for="destLong">Destination Longitude</label>
      <input type="number" class="form-control" id="destLong" required
      [(ngModel)]="modelCoord.dest.lng" name="destinationLong" (blur)="moveMarker()">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!routeForm.form.valid||disableFlagGetRouteButton" (click)="onSubmit()">Get Route</button>
    &nbsp;
    <button *ngIf="!asString" class="btn btn-success" (click)="switchStringCoord()">To Text Input</button>
    <button *ngIf="asString" class="btn btn-success" (click)="switchStringCoord()">To Coordinates Input</button>
  </form>
</div>
