 
.mapcomponent {
    height: 100vh; /*thats the height of the map component within the main component */
    margin: 0;
    padding: 0;
    order: 1;
    display: block;
    text-align: left;
  }
.inputs {
    width: 25vw;
    margin: 0;
    padding: 0 0 10px 0;
    order: 0;
    border-radius: 25px;
    border: 2px solid grey;
    z-index:999;
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: white;
}
