.directions {
    width: 400px;
    margin: 0;
    padding: 0 0 10px 0;
    order: 0;
    border-radius: 25px;
    border: 2px solid grey;
    z-index:999;
    display: block;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: white;
}

.directions-viewport {
    width: 20vw;
    border: 1px solid black;
  }
